<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/template/template.xhtml">

	<ui:define name="identity"></ui:define>
	<ui:define name="content">

		<h:head>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<meta http-equiv="X-UA-Conpatible" content="IE=edge" />
			<h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
			<title>Manage Categories</title>
		</h:head>
		<h:body>
			
			<div class="container">
				<div class="navbar navbar-inverse">
					<div class="navbar-brand">Manage Categories</div>
				</div>
				<h:form>
    <p:dataTable var="ca" value="#{manageCategoryBean.categories}" emptyMessage="No category found with given criteria" style="width:250px">
                <p:column filterBy="#{ca.name}" headerText="Search all fields:" >
            <h:outputText value="#{ca.name}" />
        </p:column>
 </p:dataTable>
 </h:form>
			<br />
				<div class="row">
					<div class="col-xs-12">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Name</th>

									<th>Update</th>
									<th>Delete</th>
								</tr>
							</thead>
							<h:body>
								<ui:repeat value="#{manageCategoryBean.categories}" var="c" >
									<tr>
										<td>#{c.name}</td>

										<td><h:form>
												<h:commandLink>
													<f:setPropertyActionListener value="#{c}"
														target="#{manageCategoryBean.category}" />
													<f:setPropertyActionListener value="true"
														target="#{manageCategoryBean.renderUpdateForm}" />
													<i class="glyphicon glyphicon-edit"></i>
												</h:commandLink>
											</h:form></td>
										<td><h:form>
												<h:commandLink
													onclick="confirm('Do you want to delete this category?')"
													action="#{manageCategoryBean.supprimerCategory()}">
													<i class="glyphicon glyphicon-trash"></i>
													<f:setPropertyActionListener value="#{c}"
														target="#{manageCategoryBean.category}" />
												</h:commandLink>
											</h:form></td>
									</tr>


								</ui:repeat>

							</h:body>
						</table>
						<h:form rendered="#{manageCategoryBean.renderUpdateForm}">
							<div class="form-group">
								<h:inputText value="#{manageCategoryBean.category.name}"
									styleClass="form-control" />
								<br />
								<br />
								<h:commandButton value="Submit" id="ajax" update="growl" action="#{manageCategoryBean.UpdateCategory()}" 									
								styleClass="ui-priority-primary" />
							</div>
						</h:form>
					</div>
				</div>
			</div>

		</h:body>
	</ui:define>
</ui:composition>